body {
    background-color: #eee;
}

header,
main,
footer {
  width: 100%;
  /* max-width: 1200px; */
  /* margin: 0 auto; */
  padding: 0 10vw;
}

header {
  height: 2em;
  background-color: #eaeaea;
}

main {
  background-color: #eee;
  height:85vh;
}

footer {
  height: 6em;
  background-color: #e0e0e0;
}
