:root {
  --color-green-dark: #091510;
  --color-green-medium-dark: #1C362E;
  --color-green-medium: #2F615B;
  --color-green-medium-light: #1C8587;
  --color-brown: #725730;
  --color-green-light: #A7CBBD;
}

body {
  background-color: var(--color-green-dark);
  color: var(--color-green-light);
  font-family: Arial, Helvetica, sans-serif;
}

header,
footer {
  width: 100%;
  padding: 0 10vw;
}

header {
  height: auto;
  background-color: var(--color-green-medium);
  display: flex;
  justify-content: center;
}

.menu-header ul {
  display: flex;
  justify-content: space-around;
}

.menu-header a {
  padding: .5em;
  display: block;
  text-decoration: none;
  font-size: .85em;
  line-height: 1.5em;
  color: var(--color-green-light);
  font-family: 'Special Elite', cursive;
}

h1 {
  text-transform: uppercase;
  font-size: 1.25em;
  line-height: 1.25em;
  margin: 1.5em .25em;
  text-align: center;
  font-family: 'Special Elite', cursive;
}

p {
  margin: 1em auto;
}

iframe {
  width: 100%;
  aspect-ratio: 1120 /630;
}

/* SINOPSE */
.sinopse{
  padding: 0 2em;
}

.sinopse p {
  line-height: 1.25em;
  text-align: justify;
}

.sinopse a {
  text-decoration: none;  
  color: var(--color-green-medium);
}

.sinopse a:hover {
  color: var(--color-green-light);
}

/* MAPA */
.map {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.map iframe {
  max-width: 600px;
}

/* RODAPE */
footer {
  height: auto;
  background-color: var(--color-green-medium-dark);
  padding: 5em 0;
  display: flex;
  justify-content: center;
  box-shadow: inset 0px 35px 25px -15px var(--color-green-dark);
}

footer ul {
  display: flex;
}

footer a {
  padding: .75em;
}

.footer a {
  text-decoration: none;
  line-height: 1.5em;
  font-size: .85em;
  color: var(--color-green-light);
  font-family: 'Special Elite', cursive;
}

.footer a:hover {
  color: var(--color-green-dark);
}

/* Media Queries */
@media screen and (min-width: 375px) {
  .footer a,
  .menu-header a {
    font-size: 1em;
  }
}

@media screen and (min-width: 768px) {

}