:root {
  --color-green-dark: #091510;
  --color-green-medium-dark: #1c362e;
  --color-green-medium: #2f615b;
  --color-green-medium-light: #1c8587;
  --color-brown: #725730;
  --color-green-light: #a7cbbd;
}

body {
  background-color: var(--color-green-dark);
  color: var(--color-green-light);
  font-family: Arial, Helvetica, sans-serif;
}

header,
footer {
  width: 100%;
  padding: 0 10vw;
}

header {
  height: auto;
  background-color: var(--color-green-medium);
  display: flex;
  justify-content: center;
}

.menu-header ul {
  display: flex;
  justify-content: space-around;
}

.menu-header a {
  padding: 0.5em;
  display: block;
  text-decoration: none;
  font-size: 0.85em;
  line-height: 1.5em;
  color: var(--color-green-light);
}

.menu-header a:hover {
  color: var(--color-green-dark);
}

h1 {
  text-transform: uppercase;
  font-size: 1.25em;
  line-height: 1.25em;
  margin: 1.5em 0.25em;
  text-align: center;
  font-family: "Special Elite", cursive;
}

.trailer h1 {
  border-right: 3px solid var(--color-green-light);
  white-space: nowrap;
  overflow: hidden;
  margin: 1.5em auto;
}

p {
  margin: 1em auto;
}

iframe {
  width: 100%;
  aspect-ratio: 1120 /630;
}

/* SINOPSE */
.sinopse {
  padding: 0 2em;
}

.sinopse p {
  line-height: 1.25em;
  text-align: justify;
}

.sinopse a {
  text-decoration: none;
  color: var(--color-green-medium-light);
}

.sinopse a:hover {
  color: var(--color-green-light);
}

/* FILMS */
.films {
  padding: 0 2em;
}

.films img {
  width: 100%;
  margin-bottom: 2em;
}

/* RODAPE */
footer {
  height: auto;
  background-color: var(--color-green-medium-dark);
  padding: 5em 0;
  display: flex;
  justify-content: center;
  box-shadow: inset 0px 35px 25px -15px var(--color-green-dark);
}

footer ul {
  display: flex;
}

footer a {
  padding: 0.75em;
}

.footer a {
  text-decoration: none;
  line-height: 1.5em;
  font-size: 0.85em;
  color: var(--color-green-light);
}

.footer a:hover {
  color: var(--color-green-dark);
}

/* Animation */
.title-animation {
  animation: blinkCursor 500ms steps(40) infinite normal, typing 4s 1s steps(40) normal both;
}

@keyframes blinkCursor {
  from{
    border-right-color: var(--color-green-light);
  }

  to{
    border-right-color: transparent;
  }
}

@keyframes typing {
  from {
    width: 0;
  }

  to {
    width: 15em;
  }
}

/* Media Queries */
@media screen and (min-width: 375px) {
  .footer a,
  .menu-header a {
    font-size: 1em;
  }
}

@media screen and (min-width: 768px) {
  .sinopse {
    padding: 0 3em;
  }

  .films div {
    display: flex;
    justify-content: space-around;
  }
  .films img {
    width: 30%;
    margin-bottom: 2em;
  }

  .footer a,
  .menu-header a {
    padding: 1em;
  }
}

@media screen and (min-width: 1440px) {
  .footer a,
  .menu-header a {
    font-size: 1.15em;
  }

  h1 {
    font-size: 1.5em;
    margin: 2em 0.5em;
  }

  .sinopse {
    margin: 0 auto;
    max-width: 1100px;
  }

  p {
    font-size: 1.15em;
  }
}
